{{> partials/content_top }}

<article class="prose mx-auto my-10">
    <h1 class="mb-0"><a href="{{page.head.extra.website}}" class="no-underline">{{page.head.title}}</a></h1>
    <p class="my-0">Last visited {{page.head.extra.last_visited}}</p>
    <div class="flex flex-row justify-start content-center gap-x-2 mt-1">
        <div class="badge badge-ghost gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="inline-block w-4 h-4 stroke-current">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                <circle cx="12" cy="10" r="3"></circle>
            </svg>
            {{region_code_to_name page.head.extra.region_code}}
        </div>
        <div class="badge badge-ghost">
            {{page.head.extra.type}}
        </div>
        {{{gf_level_badge page.head.extra.gf_level}}}
    </div>

    {{{page.body}}}
</article>

{{> partials/content_bottom }}